<center style="color: red; background-color: aquamarine;"> 
    <h1>Cheque se não deixou nem um campo vazio e se digitou o tom original e o novo tom<br>
    Usando a cifra Americana que é <b>A, B ,C , D, E, F, G</b>
    sendo que # = Sutenido e não use para definir o tom notas com <b>7, 9, 11...</b><br>
    use só as notas á frente do numero ok!</h1><br>
    <a href="javascript: history.go(-1)">Voltar</a> 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1380471728211177"
    crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
    
</center>